* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo{
  width: 50px;
  height: auto;
}
p{
  font-family: sans-serif, "helvetica";
}
h1{
  font-family: sans-serif, "verdana";
}
/*Index stuff*/
.index-page{
  display: flex;
  flex-wrap: wrap;
  /* border: solid 10px; */
}
.index-header{
  height: 30%;
  display:flex;
  flex-wrap:wrap;
  text-align: center;
  border: solid 2px;
  margin: 10px;
  background-color: lightblue;
}
.shopping-options{
  /* padding: 10px; */
  height: 60%;
  border: solid 2px;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin: 10px;
  background-color: lightblue;
}
.electronics{
  /* height: 25%; */
  width: 75%;
  border: solid 2px;
  margin: 1% 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #F0F8FF;
}
.sports{
  /* height: 25%; */
  width: 75%;
  border: solid 2px;
  margin: 1% 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #F0F8FF;
}
.outdoors{
  /* height: 25%; */
  width: 75%;
  border: solid 2px;
  margin: 1% 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #F0F8FF;
  /* padding-bottom: 10px; */
}
.image-link{

}
.elec-image{
  margin: 10px;
  width: 58%;
  height: auto;
}
.sports-image{
  margin: 10px;
  width: 60%;
  height: auto;
}
.outdoors-image{
  margin: 10px;
  width: 90%;
  height: auto;
}
/*End of Index stuff*/

/*Electronics stuff*/
.electronics-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 1000px;
  margin: 5px;
}
.electronics-header{
  border: solid 2px;
  width: 85%;
  height: 10%;
  margin: 25px 0 0 10px;
  background-color: lightblue;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}
.electronic-options{
  border: solid 2px;
  width: 80%;
  height: 90%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightblue;
}
.options{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  border: solid 2px;
  width: 85%;
  height: 20%;
  margin: 5px;
  background-color: #F0F8FF;
}
.listing-image{
  width: 85%;
  margin: 5px;
  height: auto;
}
/*End of Electronics stuff*/

/*Sports stuff*/
.sports-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 1500px;
  margin: 5px;
}
.sports-header{
  border: solid 2px;
  width: 55%;
  height: 8%;
  margin: 25px 0 0 10px;
  background-color: lightblue;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}
.sports-options{
  border: solid 2px;
  width: 80%;
  height: 80%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}
.options{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  border: solid 2px;
  width: 75%;
  height: 20%;
  margin: 10px;
  background-color: #F0F8FF;
}
.listing-image{
  width: 75%;
  margin: 5px;
  height: auto;
}
/*End of Sports stuff*/

/*Outdoors Stuff*/
.outdoors-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 1500px;
  margin: 5px;
}
.outdoors-header{
  border: solid 2px;
  width: 75%;
  height: 8%;
  margin: 25px 0 0 10px;
  background-color: lightblue;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}
.outdoors-options{
  border: solid 2px;
  width: 80%;
  height: 80%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}
/*End of Outdoors Stuff*/
.footer{
  border: solid 2px;
  position:fixed;
  bottom:0;
  width:100%;
  height: 5%;
  background-color: #1E90FF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.photo-credit{
  margin: 2px 0 2px 5px;
}
.link{
  list-style-type: none;
  margin: 2px 5px 2px 0;
  width: auto;
  color: black;
  font-family: sans-serif, "helvetica";
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: blue; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: blue; /* Yellow */
  }
  /*Index stuff*/
  .index-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: solid 10px; */
  }
  .index-header{
    height: 30%;
    display:flex;
    flex-wrap:wrap;
    text-align: center;
    border: solid 2px;
    margin: 10px;
    background-color: lightblue;
  }
  .shopping-options{
    /* padding: 10px; */
    height: 60%;
    border: solid 2px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 10px;
    background-color: lightblue;
  }
  .electronics{
    /* height: 25%; */
    width: 35%;
    border: solid 2px;
    margin: 1% 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #F0F8FF;
  }
  .sports{
    /* height: 25%; */
    width: 35%;
    border: solid 2px;
    margin: 1% 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #F0F8FF;
  }
  .outdoors{
    /* height: 25%; */
    width: 35%;
    border: solid 2px;
    margin: 1% 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #F0F8FF;
    /* padding-bottom: 10px; */
  }
  .image-link{

  }
  .elec-image{
    margin: 10px;
    width: 58%;
    height: auto;
  }
  .sports-image{
    margin: 10px;
    width: 60%;
    height: auto;
  }
  .outdoors-image{
    margin: 10px;
    width: 90%;
    height: auto;
  }
  /*End of Index stuff*/

  /*Electronics stuff*/
  .electronics-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin: 5px;
  }
  .electronics-header{
    border: solid 2px;
    width: 35%;
    height: 8%;
    margin: 25px 0 0 10px;
    background-color: lightblue;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
  }
  .electronic-options{
    border: solid 2px;
    width: 80%;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
  }
  .options{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border: solid 2px;
    width: 45%;
    height: 40%;
    margin: 10px;
    background-color: #F0F8FF;
  }
  .listing-image{
    width: 35%;
    margin: 5px;
    height: auto;
  }
  /*End of Electronics stuff*/

  /*Sports stuff*/
  .sports-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin: 5px;
  }
  .sports-header{
    border: solid 2px;
    width: 35%;
    height: 8%;
    margin: 25px 0 0 10px;
    background-color: lightblue;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
  }
  .sports-options{
    border: solid 2px;
    width: 80%;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
  }
  .options{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border: solid 2px;
    width: 45%;
    height: 40%;
    margin: 10px;
    background-color: #F0F8FF;
  }
  .listing-image{
    width: 35%;
    margin: 5px;
    height: auto;
  }
  /*End of Sports stuff*/

  /*Outdoors Stuff*/
  .outdoors-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin: 5px;
  }
  .outdoors-header{
    border: solid 2px;
    width: 35%;
    height: 5%;
    margin: 25px 0 0 10px;
    background-color: lightblue;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
  }
  .outdoors-options{
    border: solid 2px;
    width: 95%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
  }
  /*End of Outdoors Stuff*/
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: blue; /* Blue */
  }
  /*Index stuff*/
  .index-page{
    justify-content: center;
    height: 90%;
    margin:10px;
    /* padding-bottom: 10px; */
  }
  .index-header{
    height: 40%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    border: solid 2px;
    margin: 10px;
    background-color: lightblue;
  }
  .shopping-options{
    padding: 10px;
    border: solid 2px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 10px;
    background-color: lightblue;
  }
  .electronics{
    height: 25%;
    width: 30%;
    border: solid 2px;
    margin: 1% 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #F0F8FF;
  }
  .sports{
    height: 25%;
    width: 30%;
    border: solid 2px;
    margin: 1% 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #F0F8FF;
  }
  .outdoors{
    height: 25%;
    width: 30%;
    border: solid 2px;
    margin: 1% 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #F0F8FF;
  }
  .image-link{

  }
  .elec-image{
    margin: 10px;
    width: 56%;
    height: auto;
  }
  .sports-image{
    margin: 10px;
    width: 60%;
    height: auto;
  }
  .outdoors-image{
    margin: 10px;
    width: 90%;
    height: auto;
  }
  /*End of Index stuff*/
  /*Electronics stuff*/
  .electronics-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 500px;
    margin: 5px;
  }
  .electronics-header{
    border: solid 2px;
    width: 30%;
    height: 20%;
    margin: 10px 0 10px 0;
    background-color: lightblue;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
  }
  .electronic-options{
    border: solid 2px;
    width: 72%;
    height: 65%;
    margin: 0 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
  }
  .options{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border: solid 2px;
    width: 40%;
    height: 30%;
    margin: 10px;
    background-color: #F0F8FF;
  }
  .listing-image{
    width: 30%;
    margin: 10px;
    height: auto;
  }
  /*End of Electronics stuff*/

  /*Sports stuff*/
  .sports-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin: 5px;
  }
  .sports-header{
    border: solid 2px;
    width: 35%;
    height: 8%;
    margin: 25px 0 0 10px;
    background-color: lightblue;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
  }
  .sports-options{
    border: solid 2px;
    width: 80%;
    height: 380px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
  }
  .options{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border: solid 2px;
    width: 45%;
    height: 40%;
    margin: 10px;
    background-color: #F0F8FF;
  }
  .listing-image{
    width: 35%;
    margin: 5px;
    height: auto;
  }
  /*End of Sports stuff*/

  /*Outdoors Stuff*/
  .outdoors-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin: 5px;
  }
  .outdoors-header{
    border: solid 2px;
    width: 55%;
    height: 5%;
    margin: 25px 0 0 10px;
    background-color: lightblue;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
  }
  .outdoors-options{
    border: solid 2px;
    width: 75%;
    height: 35%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
  }
  /*End of Outdoors Stuff*/
}
